# Created by .ignore support plugin (hsz.mobi)
/.idea/
javamodel/.mvn/
javamodel/mvnw
javamodel/mvnw.cmd

myjson-spring-boot-starter/.gitignore
myjson-spring-boot-starter/.mvn/
myjson-spring-boot-starter/mvnw
myjson-spring-boot-starter/mvnw.cmd
myspringall/.gitignore
myspringall/.mvn/
myspringall/mvnw
myspringall/mvnw.cmd
myspringmvcfirst/web/WEB-INF/classes/
mytomcatw/src/test/
mytomcatw/target/
out/
/dockerfile/dockerfile.iml
